h1{
  font-size: 101px;
  color: black;
  text-align: center;
  font-family: roboto-mono;
}
button{
  border-radius: 5px;
  width: 200px;
  height: 40px;
  text-align: center;
  border: 0px;
  background-color: #4fa1ff;
}
button:hover{
  background-color: #6bb0ff;
}